/* common settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #0091ff;
  margin: 20px;
}

.search {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  background-color: #0091ff;
  color: #fff;
  text-transform: uppercase;
}

.search label{
  margin-right: 10px;
}

select{
  font-size: 15px;
}

#icons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 20%;
  padding: 20px;
}

.img-icon {
  font-size: 50px;
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  background-color: #fff;
  cursor: pointer;
}

.icon-name {
  text-align: center;
  font-size: 25px;
}
